.container__menu-title {
  color: white;
}

.container__menu-title > h1 {
  display: flex;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 135px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container__menu-title > hr {
  margin-top: 20px;
  margin: 5px;
}